{% extends "base.html" %}

{% block content %}
<div class="container my-5" data-aos="fade-up">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto mt-3">
            <h1 class="mt-5">About Microblog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto mt-3">
            <p>
                This Microblog website is a free platform for sharing short-form content, 
                connecting with like-minded individuals and sharing your thoughts with your audience. 
                This platform lets you follow and unfollow users you're interested in, which makes your home feed more personalized.
            </p>

            <p>
                This project uses Flask framework to create a platform that is both lightweight and flexible, 
                and more features will be added in the future to make the platform more engaging for everyone. Stay tuned!
            </p>
        </div>
    </div>
</div>

{% endblock %}