<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Microblog - {{ title }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="{{ url_for('static', filename='img/favicon') }}" rel="icon">
    <link href="{{ url_for('static', filename='apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/variables.css') }}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: ZenBlog - v1.3.0
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header - Navigation Bar ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{{ url_for('main.index') }}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="static/img/logo.png" alt=""> -->
                <h1>Microblog</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.explore') }}">Explore</a></li>
                    {% if current_user.is_anonymous %}
                    <li class="dropdown"><a href="{{ url_for('auth.login') }}"><span>Login</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="dropdown"><a
                            href="{{ url_for('main.user', username=current_user.username) }}"><span>Profile</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav><!-- .navbar -->
            
            <div class="position-relative">
                <form action="{{ url_for('main.search') }}" method="get" class="search-form">
                    <!-- <input type="text" placeholder="Search" class="form-control"> -->
                    {% if g.search_form %}
                    {{ g.search_form.q(size=20, class_="form-control", placeholder=g.search_form.q.label.text) }}
                    {% endif %}
                </form>

                <a href="#" class="mx-2 js-search-open disabled "><span
                        class="bi-search"></span></a>
            </div>

            <div class="position-relative">
                <i class="bi bi-list mobile-nav-toggle"></i>

                <!-- ======= Search Form ======= -->
                <div class="search-form-wrap js-search-form-wrap">
                    <form action="{{ url_for('main.search') }}" method="get" class="search-form">
                        <span class="icon bi-search"></span>
                        <!-- <input type="text" placeholder="Search" class="form-control"> -->
          
                        <button class="btn js-search-close"></button>
                    </form>
                </div>
                <!-- End Search Form -->

            </div>

        </div>

    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Flash Message ======= -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <div class=" container alert alert-secondary text-center" role="alert">{{ message }}</div>
                    {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- ======= Main Content ======= -->
        {% block content %}{% endblock %}
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">

                <div class="row g-5">
                    <div class="col-lg-4">
                        <h3 class="footer-heading">About Microblog</h3>
                        <p> Microblog website is a platform for sharing short-form content, connecting
                            with like-minded individuals and sharing your thoughts with your audience.</p>
                        <p><a href="about.html" class="footer-link-more">Learn More</a></p>
                    </div>
                    <div class="col-6 col-lg-4">
                        <h3 class="footer-heading">Navigation</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a href="{{ url_for('main.index') }}"><i class="bi bi-chevron-right"></i> Home</a></li>
                            <li><a href="{{ url_for('main.explore') }}"><i class="bi bi-chevron-right"></i> Explore</a></li>
                            {% if current_user.is_anonymous %}
                                <li><a href="{{ url_for('auth.login') }}"><i class="bi bi-chevron-right"></i> Login</a></li>
                                <li><a href="{{ url_for('auth.register') }}"><i class="bi bi-chevron-right"></i> Register</a></li>
                            {% else %}
                                <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="bi bi-chevron-right"></i> Profile</a></li>
                                <li><a href="{{ url_for('auth.logout') }}"><i class="bi bi-chevron-right"></i> Logout</a></li>
                            {% endif %} 
                            <li><a href="about.html"><i class="bi bi-chevron-right"></i> About us</a></li>
                            <li><a href="contact.html"><i class="bi bi-chevron-right"></i> Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="footer-links list-unstyled">
                            <div class="copyright">
                                © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
                            </div>
                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                            </div>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {{ moment.include_moment() }}

</body>

</html>