{% extends "base.html" %}

{% block content %}
<div class="container " data-aos="fade-up">
  <h2 class="mb-1 pt-5">Search Results: {{ total }} items</h2>
</div>


<!-- ======= Search Result Section ======= -->
<section class="single-post-content">

  {% for post in posts %}
    {% include '_post.html' %}
  {% endfor %}
<!-- ======= Search Result Section ======= -->

  <!-- ======= Page Navigation Section ======= -->
  {% if total > 1 %}
    <div class="container mt-5" data-aos="fade-up">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if not posts.has_prev %}disabled{% endif %}"><a class="page-link"
              href="{{ url_for(route, q=g.search_form.q.data, page=posts.prev_num) }}">Previous</a></li>
          {% for page in posts.iter_pages(left_edge=2, left_current=2, right_edge=2, right_current=4) %}
          {% if page %}
          <li class="page-item {% if posts.page==page %}disabled{% endif %}"><a class="page-link"
              href="{{ url_for(route, q=g.search_form.q.data, page=page) }}">{{ page }}</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          {% endif %}
          {% endfor %}
          <li class="page-item {% if not posts.has_next %}disabled{% endif %}"><a class="page-link"
              href="{{ url_for(route, q=g.search_form.q.data, page=posts.next_num) }}">Next</a></li>
        </ul>
      </nav>
    </div>
  {% else %}
    <div class="container" data-aos="fade-up">
      <h2>No result found for "{{ g.search_form.q.data }}"</h2>
    </div>
  {% endif %}
</section>

<!-- End Blog Preview Content -->


{% endblock %}