{% extends "base.html" %}

{% block content %}
<div class="container" data-aos="fade-up">
  <h1 class="mb-5">Search Results</h1>
</div>


<!-- ======= Blog Preview Section ======= -->
<section class="single-post-content">
  <!-- <div class="container" data-aos="fade-up">
    <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th
        '22</span></div>
    <h1 class="mb-5">14 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h1>
    <p><span class="firstcharacter">L</span>orem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
      officia sed, suscipit distinctio, numquam omnis quo fuga ipsam quis inventore voluptatum recusandae culpa,
      unde doloribus saepe labore alias voluptate expedita? Dicta delectus beatae explicabo odio voluptatibus
      quas, saepe qui aperiam autem obcaecati, illo et! Incidunt voluptas culpa neque repellat sint, accusamus
      beatae, cumque autem tempore quisquam quam eligendi harum debitis.</p>
  </div> -->

  {% for post in posts %}
  <div class="container mt-5" data-aos="fade-up">
    {% include '_post.html' %}
    <hr>
  </div>
  {% endfor %}

  <!-- ======= Page Navigation Section ======= -->
  <div class="container mt-5" data-aos="fade-up">
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
          <a href="{{ prev_url or '#' }}">
            <span aria-hidden="true">&larr;</span>
            {{ ('Previous results') }}
          </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#' }}">
            {{ ('Next results') }}
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<!-- End Blog Preview Content -->


{% endblock %}